.grid {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  width: 100%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.71);
  box-sizing: border-box;
}

.headingLink {
  padding: 21px 52px;
  border-right: 1px solid rgba(196, 206, 229, 1);
  border-bottom: 1px solid rgba(196, 206, 229, 1);
  font-size: 13px;
  font-weight: 500;
  width: 31%;
}

.headingName {
  padding: 21px 26px;
  border-right: 1px solid rgba(196, 206, 229, 1);
  border-left: 1px solid rgba(196, 206, 229, 1);
  border-bottom: 1px solid rgba(196, 206, 229, 1);
  font-size: 13px;
  font-weight: 500;
  width: 27%;
}

.headingDescription {
  padding: 21px 26px;
  border-left: 1px solid rgba(196, 206, 229, 1);
  border-bottom: 1px solid rgba(196, 206, 229, 1);
  font-size: 13px;
  font-weight: 500;
  width: 42%;
}

.tdLink {
  padding: 20px 57px;
  border-right: 1px solid rgba(196, 206, 229, 1);
  font-size: 12px;
  font-weight: 400;
}

.tdName {
  padding: 20px 26px;
  border-right: 1px solid rgba(196, 206, 229, 1);
  border-left: 1px solid rgba(196, 206, 229, 1);
  font-size: 12px;
  font-weight: 400;
}

.tdDescription {
  padding: 20px 26px;
  border-left: 1px solid rgba(196, 206, 229, 1);
  font-size: 12px;
  font-weight: 400;
}

.blueRow {
  background-color: #eff2ff;
}

.whiteRow {
  background-color: rgba(255, 255, 255, 0.71);
}

.whiteRow:hover {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.11);
}

.blueRow:hover {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.11);
}
