.outerConatiner {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px;
  align-items: center;
}

@media (max-width: 365px) {
  .outerConatiner {
    flex-direction: column;
    row-gap: 30px;
  }
}
