.outerContainer {
  display: flex;
}
.searchBar {
  width: 335px;
  height: 42px;
  padding: 13px 40px 13px 29px;
  border-top-left-radius: 39px;
  border-bottom-left-radius: 39px;
  outline: none;
}

@media (max-width: 650px) {
  .outerContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .searchBar {
    width: 100%;
    margin: 0 auto;
  }
}
