@font-face {
  font-family: "sans";
  src: url("./fonts/poppins.woff2") format("woff2"),
    url("./fonts/poppins.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
